body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 0vh;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  background-color: #ff4b5c;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

nav button:hover {
  background-color: #ff1c3a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #f1ebebeb;
}

p {
  color: #666;
}

.error {
  color: red;
  margin-top: 10px;
}
