.payment-portal-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.payment-portal-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-portal-container form {
    display: flex;
    flex-direction: column;
}

.payment-portal-container label {
    margin-bottom: 10px;
}

.payment-portal-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
}

.payment-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment-button:hover {
    background-color: #45a049;
}
